[Unit]
Description=USB/IP client service
After=network.target
Requires=usbipd.service

[Service]
Type=oneshot
ExecStart=/var/local/usbip-service-helper.sh -s usp-ip -a ATTACH -u %i
ExecStop=/var/local/usbip-service-helper.sh -s usp-ip -a DETACH -u %i
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
